{lib_dirs, ["deps"]}.

{erl_opts, [warnings_as_errors, debug_info, nowarn_deprecated_function]}.

{deps, [{common_lib, "3.3.7",
         {git, "git://github.com/platbox/common_lib.git", {tag, "3.3.7"}}}]}.

{erl_first_files, ["src/gen_esme_session.erl",
                   "src/gen_mc_session.erl",
                   "src/gen_esme.erl",
                   "src/gen_mc.erl"]}.

{xref_checks, [undefined_function_calls]}.
